<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<% if current_user.nil? %>
<%= link_to (image_tag "Spotify_icon_RGB_Black.png"), "/auth/spotify" %>
<%= link_to "Sign In With Spotify", "/auth/spotify" %>
<% else %>
<%= link_to (image_tag current_user.image), "https://www.spotify.com/us/account/overview/" %>
<%= link_to "#{current_user.name}", "https://www.spotify.com/us/account/overview/" %>
<%= link_to "Home", root_path %>
<%= link_to "View My Favorites", faves_path %>
<%= link_to "Sign Out", logout_path, method: :delete %>
<% end %>

<body>
<% if current_user.nil? %>
  <h1>Welcome, guest!</h1>
  <p>You'll need to log into Spotify to use this application. Click "Sign In With Spotify" above!</p>
<% end %>

<%= yield %>

</body>
</html>
